.logo-sellia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  .sellia-logo {
    width: 150px;
    height: auto;
  }

}

.sellia-logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .sellia-logo {
    width: 70px;
    height: auto;
  }
}

