.logo-sellia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.sellia-logo {
  width: 150px;
  height: auto;
  content: url('/logo.png');
}

@media (prefers-color-scheme: dark) {
  .sellia-logo {
    content: url('/logo-white.png');
  }
}
